<%= render 'shared/page_title', title: "Gaby" %>
<div class="container">
  <div class="col-md-12">
    <h1 class="inline-block-left"><%= @teacher.name %></h1>
      <%= link_to edit_teacher_path do %>
      <i class="glyphicon glyphicon-edit inline-block-right"></i>
      <% end %>
      <hr>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="col-md-3"><br>
      <% if @teacher.picture? %>
        <%= image_tag @teacher.picture.url%>
      <% else %>
        <%= link_to image_tag("placeholder.jpg") %>
      <% end %>
      <h3>1 hour : $<%= @teacher.price %></h3>
    </div>
    <div class="col-md-9">
      <h3>About me :</h3>
      <h4><%= @teacher.description %></h4>
    </div>
    <div class="col-md-4">
      <h3>skills :</h3>
      <h4> + <%= @teacher.skill_1 %></h4>
      <h4> + <%= @teacher.skill_2 %></h4>
      <h4> + <%= @teacher.skill_3 %></h4>
    </div>
    <div class="col-md-4">
      <br>
      <h3>Availability :</h3>
      <h4><%= @teacher.availability %></h4>
    </div>


<div class="container">
  <div class="col-md-12">

    <br>
    <hr>
  </div>
</div>
